@model Imagen 

@{
    Zapatilla zapatilla =
            ViewData["ZAPATILLASELECCIONADA"] as Zapatilla;
}


@{
    ViewData["Title"] = "Detaills";
}

<h1>Detaills</h1>

<ul class="list-group">
    <li class="list-group-item list-group-item-danger">
        Nombre :: @zapatilla.Nombre
    </li>
    <li class="list-group-item list-group-item-info">
        Descripcion: @zapatilla.Descripcion
    </li>
    <li class="list-group-item list-group-item-info">
        Precio: @zapatilla.Precio
    </li>
</ul>


<div id="contenido" style="background-color: lightgreen"></div>

@section Scripts {
    <script>
        function loadImagenPaginacion(posicion) {
            $(function () {
                $("#contenido").load("/Zapatillas/_ImagenesZapatillaPartial?posicion="
                    + posicion + "&idzapatilla=" + @zapatilla.IdProducto);
            });
        }

        loadImagenPaginacion(1);
    </script>
}
