@model List<Zapatilla>


    <h1>Nuevas Imagenes Zapatillas</h1>

<h3>@ViewData["MENSAJES"]</h3>

    <button  class="btn btn-warning" onclick="addInput()">
        Añadir nuevo campo Jquery
   </button>

   <hr/>

    <form method="post" id="formulario">

    <button class="btn btn-info">
        Añadir imagenes POST
    </button>
    <select class="form-control" name="zapatilla">
            @foreach (Zapatilla zapa in Model)
        {
            <option  value="@zapa.IdProducto">@zapa.Nombre</option>
        }
        </select>

        <input type="text" name="imagen" class="form-control" />
        

    </form>


@section Scripts {
    <script>
        function addInput() {
            $(function () {
                var nuevoinput = $('<input type="text" name="imagen" class="form-control"/>');
                $("#formulario").append(nuevoinput);
            });
        }
                
    </script>
}
